th:first-of-type,
td:first-of-type {
  position: sticky;
  left: 0;
  z-index: 2;
  background-color: aliceblue;
}

th:last-of-type,
td:last-of-type {
  position: sticky;
  right: 0;
  z-index: 2;
  background-color: aliceblue;
}

table {
  overflow-x: auto;
  max-width: 1800px;
}
